.timer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.button_container {
  width: 80%;
}

.button_container button {
  border: none;
  border-radius: 20px;
  height: 2.5rem;
  background-color: rgb(156, 110, 242);
  transition: 0.2s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  color: rgb(36, 36, 36);
  cursor: pointer;
}

.button_container button:hover {
  scale: 1.1;
  background-color: #561562;
  color: white;
}

.timer_container {
  width: 80%;
}

.timer {
  font-size: 38px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
