.home_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem;
  gap: 1rem;
  font-size: 14px;
}

.weather {
  flex-basis: 60%;
}

.weather_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_bar {
  display: flex;
  padding: 0.8rem 2rem;
  gap: 1rem;
  background-color: #561562;
  justify-content: space-around;
}

a {
  color: black;
}

.nav_bar a {
  color: white;
}

.nav_bar a:hover {
  color: rgb(165, 165, 165);
}

.nav_home {
  flex-grow: 1;
}
