.page {
  width: 100%;
}
.page_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.8rem;
  gap: 1rem;
  margin: 0 3rem;
}

.page_title {
  display: flex;
  width: 20%;
}

.page_info h3 {
  padding: 1rem;
  font-size: 20px;
}

.page_info span {
  font-size: 26px;
  color: rgb(236, 97, 120);
  display: flex;
  align-items: center;
  padding-bottom: 0.2rem;
}

.page_info > div {
  font-size: 14px;
  padding-top: 0.8rem;
  padding-right: 2rem;
}

.divider {
  margin: 0 3rem;
  border-bottom: 3px solid rgb(199, 199, 199);
  border-radius: 5px;
}

.page_content {
  margin: 2rem 3rem;
  padding: 1rem;
  font-size: 14px;
  line-height: 1.7;
}

.page_text img {
  max-width: 800px;
  max-height: 800px;
}

.add_btn {
  margin: 0.7rem 0.3rem 0 0.3rem;
  padding: 0.2rem 0.8rem;
  border: 1px solid rgb(219, 217, 217);
  border-radius: 5px;
  cursor: pointer;
}

.add_btn:hover {
  background-color: rgb(153, 99, 173);
  color: white;
}
