.form_container {
  width: 80%;
}

.editor_title {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
  border-radius: 5px;
  height: 1.8rem;
}

.title_input {
  width: 400px;
  height: 2rem;
  border: none;
}

.file_input {
  margin: 1rem 8rem;
}

button {
  height: 2rem;
}
.title {
  border: none;
}

.btn_container {
  display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
