.editor_page {
  display: flex;
  min-height: 85vh;
}

.editor {
  display: flex;
  align-items: center;
  justify-self: center;
}
.editor_title {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 3rem;
}

.editor_title input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 16px;
  width: 25rem;
  height: 1.8rem;
}
